.footerHelpSection {
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
        margin-right: 30px;
    }

    >button {
        padding: 0 28px 0 16px;
        font-weight: 700;
    }
}

.footerMenuWrapper {
    display: flex;
    padding: 10px 150px 10px 0px;
    position: fixed;
    bottom: 0;
    width: 95%;
    text-align: center;

    >div {
        flex: 1;
        padding: 3px;
    }
}

.logoWrapper {
    text-align: center;

    img {
        width: 80%;
    }
}

.footerMenuBlock {
    text-align: center;

    >span {
        font-weight: 700;
        font-size: 14px;
    }

    ul {
        text-align: left;
        margin-top: 5px;
        padding-left: 10px;

        li {
            padding-top: 20px;
        }

        li a {
            text-decoration: none;
            font-size: 14px;
            color: #333;
        }
    }
}

.footerFundraiseBlock {
    text-align: center;
    position: relative;

    >button {
        margin-top: 20px;
        padding: 12px 16px;
        font-weight: 700;
        font-size: 13px;
    }

    >div {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        justify-content: space-between;

        button {
            border-radius: 50%;
            color: #fff;
            padding: 7px;
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }
}

.footerCopyright {
    border-top: 1px solid #ccc;
    display: flex;

    >div {
        flex: 1;
    }

    ul {
        text-align: right;
    }

    ul li {
        display: inline;
    }

    ul li a {
        display: inline;
        text-decoration: none;
        margin-left: 15px;
    }
}


@media (min-width: 600px) {
    .footerMenuWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}